#varjolaatikko {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
    width: 100px;
    background-color: white;
  }
  .varjotext
  {
    text-shadow: 2px 2px #3700ff;
    color: rgb(238, 255, 0);
  }
  .taustalaatikko
  {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
    background: url(https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;height: 200px;
  }
  a:link, a:visited {
    background-color: #444444;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 1.5s ease;
  }
  a:hover, a:active {
    background-color: rgb(255, 0, 0);
  }