body
{
background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg);
background-position: center fixed;
background-repeat: no-repeat;
background-size: cover;}
h1
{
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
font-size: 80px;
  color: rgba(255, 0, 0, 0.562);
}
p
{
  color: rgba(165, 42, 42, 0.788);
  font-size: 50px;
}