body{
background-image: url ("nature.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: white;
  text-align: center;
  font-size: 20px;}
p{
  color: green;
  text-align: center;
  font-size: 12px;}
h2{color: white;text-align: center;font-family: "Comic Sans MS", "Comic Sans", cursive;}
h3{
  color: white;
font-size: 20px;
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.minunDiv{
  border: 5px outset red;
  background-color: black;    
  text-align: center;
  border-style: dotted;
  border-width: 2px;
  height: 100px;
  width: 100px;}
#DIVotsikko{font-size: 10px; color:white;}
#DIVteksti{font-size: 10px;color:white;}
#boxi{font-size: 15px;color:white;text-align:left;}
  h4{
    color: white;
    font-size: 20px;
    text-align: left;}

h5{color:white;font-size: 20px; text-align: left;font-family: "Comic Sans MS", "Comic Sans", cursive;}
.abc{list-style-type: lower-alpha;color:white; font-size: 20px;}

h6{color:white;font-size: 20px; text-align: left;font-family: "Comic Sans MS", "Comic Sans", cursive;}

.neliöitä{list-style-type: square;color:white; font-size: 20px}
