  body {background-image: url(sunset.jpg);
  background-size: cover;}
h1{
  color: rgb(6, 240, 228);
  text-align: center;font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;}
p{
  color: #000000;
  text-align: center;
  font-size: 20px;}
  .pistepiste
  {border-style: dotted;
  color: #080404;
  border-width: 4px;
  width: 800px;
  border-radius: 25%;
  margin: auto
  }
h2{color: white;text-align: center;font-family: "Comic Sans MS", "Comic Sans", cursive;}
h3{
  color: white;
font-size: 20px;
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.minunDiv{
  border: 5px outset red;
  background-color: black;    
  text-align: center;
  border-style: dotted;
  border-width: 2px;
  height: 100px;
  width: 100px;}
#DIVotsikko{font-size: 10px; color:white;}
#DIVteksti{font-size: 10px;color:white;}
#boxi{font-size: 15px;color:white;text-align:left;}
  h4{
    color: white;
    font-size: 20px;
    text-align: left;}

h5{color:white;font-size: 20px; text-align: left;font-family: "Comic Sans MS", "Comic Sans", cursive;}
.abc{list-style-type: lower-alpha;color:white; font-size: 20px;}

h6{color:white;font-size: 20px; text-align: left;font-family: "Comic Sans MS", "Comic Sans", cursive;}

.neliöitä{list-style-type: square;color:white; font-size: 20px}
.sivulink
{position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  border: 3px solid #f30606;
  background-color: rgb(233, 156, 40);
text-align: center;}
figure {
  border: thin #ff0000 solid;
  display: flex;
  flex-flow: column;
  padding: 20px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: rgb(93, 91, 247);
  color: rgb(255, 255, 255);
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}